<table>
  <h4>Admins</h4>
  <div *ngFor="let user of users; let i = index">
    <tr *ngIf="users[i].role == 'admin'">
      <td>
        <img
          src="http://localhost:3000/{{ myImage }} "
          class="circular--landscape"
          alt=""
          width="50"
        />
      </td>
      <td>{{ user.username }}</td>
    </tr>
  </div>
  <h4>Users</h4>
  <div *ngFor="let user of users; let i = index">
    <tr *ngIf="users[i].role == 'user'">
      <td>
        <img
          src="https://freesvg.org/img/abstract-user-flat-4.png"
          alt=""
          width="50"
        />
      </td>
      <td>{{ user.username }}</td>
    </tr>
  </div>
</table>

<div *ngIf="is_user_auth">
  <h3>User Management</h3>
  <input type="text" placeholder="Username" [(ngModel)]="usersName" /><br />
  <input type="text" placeholder="Password" [(ngModel)]="usersPassword" /><br />
  <input type="text" placeholder="Role" [(ngModel)]="usersRole" /><br />
  <input type="text" placeholder="ID" [(ngModel)]="usersID" /> <br />
  <button (click)="updateUsers()">Add user</button>
  <button (click)="remove()">Remove User</button>
</div>
<div *ngIf="is_user_auth == false">
  User Management Panel is disabled due to invalid permissions.
</div>
<button (click)="test()">Click test</button>
