<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="#">3813ICT Chat Application</a>
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      <li>
        <a class="nav-link" routerLink="/login" (click)="login()">Login</a>
      </li>

      <li><a class="nav-link" routerLink="/profile">Profile</a></li>
      <li>
        <a class="nav-link" routerLink="/" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
