<div class="container">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <p>Hey!</p>
  <span class="time-left">11:01</span>
</div>

<app-userlist></app-userlist>

<div *ngFor="let chat of chatlog">
  <div class="container">
    <p>{{ chat.message }}</p>
    <span class="time-right">{{ chat.time }}</span>
  </div>
</div>

<input type="text" name="send_message" [(ngModel)]="currentMessage" /><button
  type="submit"
  (click)="sendMessage()"
>
  Send Message
</button>
