<div *ngIf="is_user == true">
  Welcome
  <div *ngFor="let item of user; let i = index">
    <div *ngIf="item?.valid == true">
      <p>Username: {{ item.username }}</p>
      <p>Birthdate: {{ item.birthdate }}</p>
      <p>Email: {{ item.email }}</p>
      <p>Age: {{ item.age }}</p>

      <input type="text" name="username" [(ngModel)]="curr_username" />
      <button type="submit" (click)="editData('username', curr_username)">
        Edit Username</button
      ><br />

      <input type="text" name="birthdate" [(ngModel)]="curr_birthdate" />
      <button type="submit" (click)="editData('birthdate', curr_birthdate)">
        Edit Birthdate</button
      ><br />

      <input type="text" name="email" [(ngModel)]="curr_email" />
      <button type="submit" (click)="editData('email', curr_email)">
        Edit Email</button
      ><br />

      <input type="text" name="age" [(ngModel)]="curr_age" />
      <button type="submit" (click)="editData('age', curr_age)">Edit Age</button
      ><br />
    </div>
  </div>
</div>

<h3>Your Profile Picture.</h3>
<br />
<img src="http://localhost:3000/{{ url }}" id="myImage" />
<!--
<input
  type="file"
  class="file-upload"
  onchange="console.log(event.target.files)"
  (change)="onSelect(event)"
/>
-->

<div style="text-align: center">
  <form>
    <div>
      <input type="file" name="image" (change)="selectImage($event)" />
    </div>
    <br />
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>

<hr />
<!-- 
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>
    <div>
      <input
        type="file"
        name="images"
        multiple
        (change)="selectMultipleImage($event)"
      />
    </div>
    <br />
    <div>
      <button type="submit" (click)="onMultipleSubmit()">
        Multiple Upload
      </button>
    </div>
  </form>
</div>
-->
